body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(21,23,30);
}
#main_logo{
    margin-top: 100px; 
    width: 275px;
   
}
.icon{
    width: 47px;
}
#text_main{
    margin-top: 50px; 
    color: #fff;  
    margin-bottom: 70px;
}
.container {
    display: grid;
    grid-template-rows: 250px 70px 70px 390px 300px; /* Создаем три строки: верхний, средний и нижний контейнер */
    justify-items: center; /* Выравниваем элементы по центру по горизонтали */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    height: 100vh; /* Занимаем 100% высоты окна браузера */
}

.center {
    text-align: center;
}

.center img {
    max-width: 100%;
    height: auto;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки */
    grid-gap: 20px; /* Отступы между иконками */
    text-align: center;
}
.icons4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Три колонки */
    grid-gap: 20px; /* Отступы между иконками */
    text-align: center;
}
.icons img {
    max-width: 100%;
    height: auto;
}
.icons4 img{
    max-width: 100%;
    height: auto;
}
.login-form {
    text-align: center;
    margin-bottom: 30px;
}

.login-form p {
    margin-bottom: 10px;
}

.login-form input {
    width: 75%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(21,23,30);
}

.login-form button {
    width: 80%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3;
}
.login-form .second-line {
    margin-top: 50px; /* Добавляем отступ между второй и третьей строками */
    margin-bottom: 0;
}
.login-form .third-line{
    margin-top: 0;
}
.login-form .fourth-line {
    margin-top: 30px; /* Добавляем отступ между второй и третьей строками */
}
.footer{
    text-align: center;
    font-size: 12px;
    color: #ffffffb3;
}
.links{
    text-decoration: none; 
    color: inherit;
    cursor: pointer; 
}
.second_links{
    margin-top: 3px;

}
.footer .first_links{
    margin-bottom: 0;
}
.last_text{
    color: #ffffff4d;
}